*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #1A2036;
    display: grid;
    place-content: center;
    min-height: 100vh;
}
.container {
    max-width: 100%;
    background-color: #252B43;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 2.5rem;
}
h2, p {
    color: #FFF;
    text-align: center;
}
.nums_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.nums_container input {
    width: 60px;
    height: 60px;
    outline: 0;
    border: none;
    font-size: 1.7rem;
    text-align: center;
    font-weight: 600;
}
input.right {
    box-shadow: 0 0 20px #04A022;
}
input.wrong {
    box-shadow: 0 0 20px #B00020;
}
input:disabled {
    cursor: not-allowed;
}
button {
    width: 300px;
    max-width: 100%;
    padding: .5rem .8rem;
    color: white;
    background-color: #1A2036;
    outline: 0;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #1c223d;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
button:disabled {
    opacity: .7;
    cursor: not-allowed;
}
#success {
    background-color: #0dd535;
    color: #0a641c;
    width: fit-content;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 10rem 1rem 1rem;
    position: absolute;
    bottom: 10px;
    right: 0;
    display: none;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
}
#success.show {
    display: block;
}